.log-out {
  position: absolute;
  top: 0;
  right: 50px;
}


/*logo*/
.logo a {
  color: #000;
  font-size: 1.3em;
} .logo a strong {
  color: var(--bs-color-bluebary);
}

/*nav-bar*/
.menu-button {
  float: right;
}

.nav-bar ul {
  margin-top: 20px;
}


.nav-bar a {
  display: block;
  padding: 15px;
  color: #000;
  border-radius: 10px;
}

a.active, .nav-bar a:hover:not(.btn) {
  color: var(--bs-color-bluebary);
  background-color: #000;
  transition: .6s;
}


@media screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }

  .nav-bar li {
    display: inline-block;
  }


  .log-out {
    right: 0;
  }

}