.log-out {
  position: absolute;
  top: 0;
  right: 50px;
}


/*logo*/
nav .logo a {
  color: #000;
  font-size: 1.3em;
} nav .logo a strong {
  color: var(--bs-color-bluebary);
}

/*nav-bar*/
nav .menu-button {
  float: right;
}

.nav-bar ul {
  margin-top: 10px;
}


.nav-bar a {
  display: block;
  padding: 15px;
  color: #000;
  border-radius: 10px;
}

a.active, .nav-bar a:hover:not(.btn) {
  color: var(--bs-color-bluebary);
  background-color: #000;
  transition: .6s;
}


@media screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }

  .toggle-menu {
    position: absolute;
    top: -14px;
    right: 0px;
    display: block;
    
  }

  .nav-bar ul {
    display: block;
    position: relative;
    bottom: 30px;
    float: right;
    margin: 0;
  }

  .nav-bar li{
    display: inline-block;
  }

  .log-out {
    position: static;
  }

}