form {
  text-align: center;
  width: 50%;
}

form .fields {
  margin: 10px;
  margin-top: 20px;
  text-align: left;
}

label {
  font-size: 1.2em;
}

input {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
}

[type=submit] {
  background-color: #000;
  color: var(--bs-color-bluebary);
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (max-width:900px){
  input {
    padding: 10px;
  }

  form {
    width: 90%;
  }
}