.posts {
  border: 3px solid #e0e0e09a;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.posts:hover {
  box-shadow: 1px 1px 10px var(--bs-color-secundary);
  transition: .4s;
}

.posts button {
  float: right;
}

.title-post {
  text-align: left;
  margin-bottom: 5px;
}

.tags {
  display: inline-block;
  margin-right: 5px;
  color: var(--bs-color-bluebary);
  cursor: pointer;
}

.leg-post {
  padding: 10px;
  color: #a5a4a4;
}

.box form {
  display: flex;
  width: 50%;
  margin: 20px auto;
}

figure img{
  max-width: 600px;  
}



@media (max-width: 991.98px) {
  .box form {
    width: 90%;
  }
}