

.menu-application {
  background-color: var(--bs-color-secundary);
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 8px  #cecece;
}

.container {
  flex-direction: column;
}

.footer-app {
  margin-top: 30px;
  text-align: center;
  background-color: #ccc;
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 900px){
  .menu-application{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}




