.root-app header.menu-application {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 8px  #cecece;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



