@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;400;800 & display=swap');

:root {
  /*colors*/
  --background-primary: #e5eff8;
  --bs-color-primary: #22577a;
  --bs-color-secundary: #57CC99;
  --bs-color-bluebary: #38A3A5;
  --bs-color-greenbary: #80ED99;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html, body, .root-app {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  font-family: Montserrat, sans-serif;
}

input {
  border: none;
  border-bottom: 2px solid #22577a;
}


.clear {
  clear: both;
}

/*for error's messages*/
.error-message {
  font-size: 1.3em;
  color: #202020;
  background-color: #f05151;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  width: 97%;
}

/*colapse menu*/
.toggle-menu {
  display: none;
}

/*loading async*/
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #22577ab2;
  transition: 1s;
  height: 100%;
  width: 100%;
  border: 1px solid;
}

.loading .circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-bottom: 5px solid #fff;
  animation: CircleLoop 1.5s infinite linear;
}

@keyframes CircleLoop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
